<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>User's Email</dt>
      <dd><%= @user.email %></dd>
      <% @user.photos.each do |photo| %>
        <dt>User's Image</dt>
        <dd><a href="/photos/<%= photo.id %>"><img src="<%=photo.image%>"></a></dd>
        <dd><%= photo.caption %></dd>
      <% end %>

    </dl>
    </div>
  </div>
</div>
